/* ESTILOS DEL ENCABEZADO Y EL NAV*/

.encabezadoBS{
    position: sticky;
    top: 0; 
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);  
    z-index: 5000;   
    opacity: 95%;   
}

  
/* ESTILOS DEL CONTENIDO DEL INDEX Y SERVICIOS*/

.contenido__img{
    border-radius: 15px;
    margin: 0;
    
}

.contenido__titulo{
    font-size: 26px;
    text-align: center;
    margin: 0px;
     
}

.contenido__parrafo{
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 23px;
}


/* ESTILO DEL LOGO DE WPP*/
.wppLogo{
    position: fixed;    
    right: 20px;
    bottom: 20px;
    z-index: 5;
    width: 60px;
    border-radius: 50%;
    transition: width 250ms ;
}

/* ANIMACION DEL LOGO DE WPP*/
.wppLogo:hover{
    width: 90px;
    box-shadow: 4px 4px 8px  rgb(50, 155, 50);
}


/* ESTILOS DEL PIE DE PAGINA*/

.pie{
    padding-top: 10px;
    background-color: rgb(177, 199, 209);
}

.follow{
    font-size: 22px;
}
.redes{   
   
    padding: 8px;
    margin: 0;
}

.link_logo{
    width:40px;
}

.derechos{
    font-size: 18px;
    text-align: center;
    margin: 0; 
}

.links{
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}



/* ESTILOS DEL FORMULARIO DE CONTACTO*/

.total_formulario{
    @include center;
}

.formulario__titulo{
    text-align: center;
    font-size: 37px;
}

.formulario{
    margin: 10px;
    display: flex;
    flex-direction: row;
    @include center;    
}

.formulario__field{
    width: 50%;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20PX;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    @include center;     
}

.formulario__field__div__input{  
    border-radius: 5px;
    padding: 5px;   
    width: 80%;
}

.formulario__field__div{  
    text-align: center;
}

.formulario__label{
    margin:10px;
    display: block;
    font-weight: bold;
}

/* ESTILOS PAGE NOSOTROS*/

.presentacion{
    font-size: 24px;
}

.parrafo__nosotros{
    padding: 18px;
}

/* ESTILOS CLIENTES */

.contenidoImg1{
    @extend %imgClientes;
}
.contenidoImg2{
    @extend %imgClientes;
}
.contenidoImg3{
    @extend %imgClientes;
}
.contenidoImg4{
    @extend %imgClientes;
}
.contenidoImg5{
    @extend %imgClientes;
}
.contenidoImg6{
    @extend %imgClientes;
}
.contenidoImg7{
    @extend %imgClientes;
}
.contenidoImg8{
    @extend %imgClientes;
}
.imgClientes{
    width: 85%;
    padding: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform 400ms ;
}

.imgClientes:hover{
    transform:scale(1.4);
    z-index: 1000;
    
}
.presentacionClientes{
    text-align: center;
}

