/* APLICACION DE GRID PAGE INDEX Y SERVICIOS*/

.contenedor{
    @extend %grid_gap;
    grid-template-columns: repeat(2,1fr) ; 
    align-items: center;    
    grid-template-areas:"parrafo1 imagen1"
                        "imagen2 parrafo2"
                        "parrafo3 imagen3"
                        "footer footer";
}

.contenido__p1{
    grid-area: parrafo1;
}

.contenido__img1{
    
    grid-area: imagen1;
}

.contenido__p2{
    grid-area: parrafo2;
}

.contenido__img2{
    object-fit: cover;
    grid-area: imagen2;
}

.contenido__p3{
    grid-area: parrafo3;
}

.contenido__img3{
    grid-area: imagen3;
}

.pie{
    grid-area: footer;
}

/*APLICACION GRID PAGE NOSOTROS */

.contenedor__nosotros{
    @extend %grid_gap;  
    grid-template-areas:"presentacion"
                        "nosotros"
                        "footer";
}

.presentacion{
    grid-area: presentacion;
}

.nosotros{
    grid-area: nosotros;
}


/* APLICACION DE GRID PAGE CONTACTO*/

.contenedor1{
    display: grid;
    grid-template-columns: 1fr ;    
    grid-template-areas:"formulario formulario"
                         "footer footer";
    @include center;                     
}

.total_formulario{
    grid-area: formulario;
}

/*APLICACION GRID PAGE CLIENTES */

.contenedorClientes{
    @extend %grid_gap; 
    align-items: center;    
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:"presentacion presentacion presentacion presentacion"
                        "imagen5 imagen2 imagen1 imagen6"
                        "imagen4 imagen3 imagen7 imagen8"
                        "footer footer footer footer";
}

.presentacionClientes{
    grid-area: presentacion;
}

.contenidoImg1{
    grid-area: imagen1;
}
.contenidoImg2{
    grid-area: imagen2;
}
.contenidoImg3{
    grid-area: imagen3;
}
.contenidoImg4{
    grid-area: imagen4;
}
.contenidoImg5{
    grid-area: imagen5;
}
.contenidoImg6{
    grid-area: imagen6;
}
.contenidoImg7{
    grid-area: imagen7;
}
.contenidoImg8{
    grid-area: imagen8;
}